p {
	font-family: "Krungthep";
	font-size: 30px;
	margin-left: 250px;
 	 width: 60%;
 	 text-align: center;
}


h4 {
	font-family: "Krungthep";
	margin: 30px;
}


div {
	font-family: "Krungthep";
	font-size: 30px;
 	width: 40%;
 	margin: 50px;
 	padding-top: 1300px;

}

body{
	color: white;
	background-color: black;
}

