h1{
	text-align: center;
	font-family: "LiebeDoni-Outline";
  	color: black;
  	font-size: 8vw;
}


button {
  border: none;
  font-family: "LiebeDoni-Outline";
  font-size: 25px;
  background-color: white;
  text-decoration: none;
  width: 110px;
  height: 60px;
  color: red;
  text-align: center;


}

a{
  text-decoration: none;
  color: red;
}


div{
	display: block;
}


#t1{
	position: fixed;
    top: 750px;
    left: 10%;
    cursor: move;
    z-index: 10;
    width: 100%;

}

#t2{
    position: fixed;
    top: 600px;
    left: 10%;
    cursor: move;
    z-index: 10;
    width: 100%;
}

#t3{
    position: fixed;
    top: 340px;
    left: 10%;
    cursor: move;
    z-index: 10;
    width: 100%;
}

#t4{
    position: fixed;
    top: 500px;
    left: 10%;
    cursor: move;
    z-index: 10;
    width: 100%;


}

#t5{
    position: fixed;
    top: 500px;
    left: 11%;
    cursor: move;
    z-index: 10;
        width: 100%;

}

#t6{
    position: fixed;
    top: 400px;
    left: 10%;
    cursor: move;
    z-index: 10;
        width: 100%;

}

#t7{
    position: fixed;
    top: 300px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t8{
    position: fixed;
    top: 600px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t9{
    position: fixed;
    top: 700px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t10{
    position: fixed;
    top: 700px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t11{
    position: fixed;
    top: 600px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t12{
    position: fixed;
    top: 500px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t13{
    position: fixed;
    top: 400px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t14{
    position: fixed;
    top: 300px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t15{
    position: fixed;
    top: 200px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t16{
    position: fixed;
    top: 500px;
    left: 10%;
    cursor: move;
    z-index: 9;
}

#t17{
    position: fixed;
    top: 300px;
    left: 10%;
    cursor: move;
    z-index: 9;
}

#t18{
    position: fixed;
    top: 500px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t19{
    position: fixed;
    top: 400px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t20{
    position: fixed;
    top: 300px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

#t21{
    position: fixed;
    top: 600px;
    left: 10%;
    cursor: move;
    z-index: 10;
}

