html{
	background-color: black;
  margin-top: 20px;
  font-family: "LiebeDoni-Outline";
}
h1{
	text-align: center;
	font-family: "LiebeDoni-Outline";
  color: white;
  font-size: 8vw;
}




#creatediv{

  padding-top: 80px;
  width: 100%;
  text-align: center;
}



button {
  padding-top: 20px;
  border: none;
  color: red;
  text-align: center;
  font-family: "LiebeDoni-Outline";
  font-size: 40px;
  background-color: black;
  text-decoration: none;
  width: 200px;
  height: 50px;


}

#back{
  color: grey;
}



a{
  text-decoration: none;
  color: red;
}

div{
  
  width: 100%;
  text-align: center;


}


