p {
	font-family: "10th Century Bookhand WF";
	font-size: 50px;
	margin-left: 250px;
 	 width: 60%;
 	 text-align: center;


}

}
h4 {
	font-family: "10th Century Bookhand WF";
	margin: 50px;
}


div {
	font-family: "10th Century Bookhand WF";
	font-size: 20px;
 	width: 40%;
 	margin: 50px;

}

