body{
	background-image: url(tracyma1.jpg);
	background-repeat: repeat;

}

.tracyma{
	text-decoration: none;
	font-family: "Cooper Std";
	color: #ff8edb;

}

.address{
	text-decoration: none;
	font-family: "Cooper Std";
	color: white;
}

html{
	font-family: "Cooper Std";

}

h1{
	padding: 0em 1em;
	font-size: 10vw;
	color: #ff8edb;
	text-align: center;

}

p{
	font-size: 4vw;
	color: white;
	text-align: center;
}


@media only screen and (max-width: 600px) {
  h1 {
    padding-top: 300px;
  }
}

